orka-adf/PartialArmTemplates/ArmTemplate_8_2_2021_18_29_56.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "orka-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Create categories_raw table",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Drop Categories Raw Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['category_ids']['ios']['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int16"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['0']"
										},
										"sink": {
											"name": "0",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6001']"
										},
										"sink": {
											"name": "6001",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6002']"
										},
										"sink": {
											"name": "6002",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6003']"
										},
										"sink": {
											"name": "6003",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6000']"
										},
										"sink": {
											"name": "6000",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6004']"
										},
										"sink": {
											"name": "6004",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6005']"
										},
										"sink": {
											"name": "6005",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6006']"
										},
										"sink": {
											"name": "6006",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6007']"
										},
										"sink": {
											"name": "6007",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6008']"
										},
										"sink": {
											"name": "6008",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6009']"
										},
										"sink": {
											"name": "6009",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6010']"
										},
										"sink": {
											"name": "6010",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6011']"
										},
										"sink": {
											"name": "6011",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6012']"
										},
										"sink": {
											"name": "6012",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6013']"
										},
										"sink": {
											"name": "6013",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6014']"
										},
										"sink": {
											"name": "6014",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6015']"
										},
										"sink": {
											"name": "6015",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6016']"
										},
										"sink": {
											"name": "6016",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6017']"
										},
										"sink": {
											"name": "6017",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6018']"
										},
										"sink": {
											"name": "6018",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6020']"
										},
										"sink": {
											"name": "6020",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6021']"
										},
										"sink": {
											"name": "6021",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6022']"
										},
										"sink": {
											"name": "6022",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6023']"
										},
										"sink": {
											"name": "6023",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6024']"
										},
										"sink": {
											"name": "6024",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6026']"
										},
										"sink": {
											"name": "6026",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6027']"
										},
										"sink": {
											"name": "6027",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7001']"
										},
										"sink": {
											"name": "7001",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7002']"
										},
										"sink": {
											"name": "7002",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7003']"
										},
										"sink": {
											"name": "7003",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7004']"
										},
										"sink": {
											"name": "7004",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7005']"
										},
										"sink": {
											"name": "7005",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7006']"
										},
										"sink": {
											"name": "7006",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7007']"
										},
										"sink": {
											"name": "7007",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7008']"
										},
										"sink": {
											"name": "7008",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7009']"
										},
										"sink": {
											"name": "7009",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7011']"
										},
										"sink": {
											"name": "7011",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7012']"
										},
										"sink": {
											"name": "7012",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7013']"
										},
										"sink": {
											"name": "7013",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7014']"
										},
										"sink": {
											"name": "7014",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7015']"
										},
										"sink": {
											"name": "7015",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7016']"
										},
										"sink": {
											"name": "7016",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7017']"
										},
										"sink": {
											"name": "7017",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7018']"
										},
										"sink": {
											"name": "7018",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7019']"
										},
										"sink": {
											"name": "7019",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['9007']"
										},
										"sink": {
											"name": "9007",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['10000']"
										},
										"sink": {
											"name": "10000",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['10001']"
										},
										"sink": {
											"name": "10001",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['10002']"
										},
										"sink": {
											"name": "10002",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13001']"
										},
										"sink": {
											"name": "13001",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13002']"
										},
										"sink": {
											"name": "13002",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13003']"
										},
										"sink": {
											"name": "13003",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13004']"
										},
										"sink": {
											"name": "13004",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13005']"
										},
										"sink": {
											"name": "13005",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13006']"
										},
										"sink": {
											"name": "13006",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13007']"
										},
										"sink": {
											"name": "13007",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13008']"
										},
										"sink": {
											"name": "13008",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13009']"
										},
										"sink": {
											"name": "13009",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13010']"
										},
										"sink": {
											"name": "13010",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13011']"
										},
										"sink": {
											"name": "13011",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13012']"
										},
										"sink": {
											"name": "13012",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13013']"
										},
										"sink": {
											"name": "13013",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13014']"
										},
										"sink": {
											"name": "13014",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13015']"
										},
										"sink": {
											"name": "13015",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13017']"
										},
										"sink": {
											"name": "13017",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13018']"
										},
										"sink": {
											"name": "13018",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13019']"
										},
										"sink": {
											"name": "13019",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13020']"
										},
										"sink": {
											"name": "13020",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13021']"
										},
										"sink": {
											"name": "13021",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13023']"
										},
										"sink": {
											"name": "13023",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13024']"
										},
										"sink": {
											"name": "13024",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13025']"
										},
										"sink": {
											"name": "13025",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13026']"
										},
										"sink": {
											"name": "13026",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13027']"
										},
										"sink": {
											"name": "13027",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13028']"
										},
										"sink": {
											"name": "13028",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13029']"
										},
										"sink": {
											"name": "13029",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13030']"
										},
										"sink": {
											"name": "13030",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['all']"
										},
										"sink": {
											"name": "all",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['app_wallpaper']"
										},
										"sink": {
											"name": "app_wallpaper",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['app_widgets']"
										},
										"sink": {
											"name": "app_widgets",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['application']"
										},
										"sink": {
											"name": "application",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['art_and_design']"
										},
										"sink": {
											"name": "art_and_design",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['auto_and_vehicles']"
										},
										"sink": {
											"name": "auto_and_vehicles",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['beauty']"
										},
										"sink": {
											"name": "beauty",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['books_and_reference']"
										},
										"sink": {
											"name": "books_and_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['business']"
										},
										"sink": {
											"name": "business",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['comics']"
										},
										"sink": {
											"name": "comics",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['communication']"
										},
										"sink": {
											"name": "communication",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['dating']"
										},
										"sink": {
											"name": "dating",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['education']"
										},
										"sink": {
											"name": "education",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['entertainment']"
										},
										"sink": {
											"name": "entertainment",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['events']"
										},
										"sink": {
											"name": "events",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family']"
										},
										"sink": {
											"name": "family",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_action']"
										},
										"sink": {
											"name": "family_action",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_braingames']"
										},
										"sink": {
											"name": "family_braingames",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_create']"
										},
										"sink": {
											"name": "family_create",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_education']"
										},
										"sink": {
											"name": "family_education",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_musicvideo']"
										},
										"sink": {
											"name": "family_musicvideo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_pretend']"
										},
										"sink": {
											"name": "family_pretend",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['finance']"
										},
										"sink": {
											"name": "finance",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['food_and_drink']"
										},
										"sink": {
											"name": "food_and_drink",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game']"
										},
										"sink": {
											"name": "game",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_action']"
										},
										"sink": {
											"name": "game_action",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_adventure']"
										},
										"sink": {
											"name": "game_adventure",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_arcade']"
										},
										"sink": {
											"name": "game_arcade",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_board']"
										},
										"sink": {
											"name": "game_board",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_card']"
										},
										"sink": {
											"name": "game_card",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_casino']"
										},
										"sink": {
											"name": "game_casino",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_casual']"
										},
										"sink": {
											"name": "game_casual",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_educational']"
										},
										"sink": {
											"name": "game_educational",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_family']"
										},
										"sink": {
											"name": "game_family",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_music']"
										},
										"sink": {
											"name": "game_music",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_puzzle']"
										},
										"sink": {
											"name": "game_puzzle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_racing']"
										},
										"sink": {
											"name": "game_racing",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_role_playing']"
										},
										"sink": {
											"name": "game_role_playing",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_simulation']"
										},
										"sink": {
											"name": "game_simulation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_sports']"
										},
										"sink": {
											"name": "game_sports",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_strategy']"
										},
										"sink": {
											"name": "game_strategy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_trivia']"
										},
										"sink": {
											"name": "game_trivia",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_wallpaper']"
										},
										"sink": {
											"name": "game_wallpaper",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_widgets']"
										},
										"sink": {
											"name": "game_widgets",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_word']"
										},
										"sink": {
											"name": "game_word",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['health_and_fitness']"
										},
										"sink": {
											"name": "health_and_fitness",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['house_and_home']"
										},
										"sink": {
											"name": "house_and_home",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['libraries_and_demo']"
										},
										"sink": {
											"name": "libraries_and_demo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['lifestyle']"
										},
										"sink": {
											"name": "lifestyle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['maps_and_navigation']"
										},
										"sink": {
											"name": "maps_and_navigation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['media_and_video']"
										},
										"sink": {
											"name": "media_and_video",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['medical']"
										},
										"sink": {
											"name": "medical",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['music_and_audio']"
										},
										"sink": {
											"name": "music_and_audio",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['news_and_magazines']"
										},
										"sink": {
											"name": "news_and_magazines",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['parenting']"
										},
										"sink": {
											"name": "parenting",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['personalization']"
										},
										"sink": {
											"name": "personalization",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['photography']"
										},
										"sink": {
											"name": "photography",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['productivity']"
										},
										"sink": {
											"name": "productivity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['shopping']"
										},
										"sink": {
											"name": "shopping",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['social']"
										},
										"sink": {
											"name": "social",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['sports']"
										},
										"sink": {
											"name": "sports",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['tools']"
										},
										"sink": {
											"name": "tools",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['transportation']"
										},
										"sink": {
											"name": "transportation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['travel_and_local']"
										},
										"sink": {
											"name": "travel_and_local",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['video_players']"
										},
										"sink": {
											"name": "video_players",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['weather']"
										},
										"sink": {
											"name": "weather",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "HTTP_Sensor_Tower_Categories",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ASQL_Sensor_Tower_Categories",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Drop Categories Raw Table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_drop_categories_raw]"
						},
						"linkedServiceName": {
							"referenceName": "ASQL_orka_Entertainment",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HTTP_Sensor_Tower_Categories')]",
				"[concat(variables('factoryId'), '/datasets/ASQL_Sensor_Tower_Categories')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASQL_Sensor_Tower_Categories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ASQL_orka_Entertainment",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "categories_raw"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTP_Sensor_Tower_Categories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HTTP_SensorTower_IDs",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "category_ids.json?auth_token=LyrjK-Gg2cBq8ZcrSwWv"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"category_ids": {
							"type": "object",
							"properties": {
								"ios": {
									"type": "object",
									"properties": {
										"0": {
											"type": "string"
										},
										"6000": {
											"type": "string"
										},
										"6001": {
											"type": "string"
										},
										"6002": {
											"type": "string"
										},
										"6003": {
											"type": "string"
										},
										"6004": {
											"type": "string"
										},
										"6005": {
											"type": "string"
										},
										"6006": {
											"type": "string"
										},
										"6007": {
											"type": "string"
										},
										"6008": {
											"type": "string"
										},
										"6009": {
											"type": "string"
										},
										"6010": {
											"type": "string"
										},
										"6011": {
											"type": "string"
										},
										"6012": {
											"type": "string"
										},
										"6013": {
											"type": "string"
										},
										"6014": {
											"type": "string"
										},
										"6015": {
											"type": "string"
										},
										"6016": {
											"type": "string"
										},
										"6017": {
											"type": "string"
										},
										"6018": {
											"type": "string"
										},
										"6020": {
											"type": "string"
										},
										"6021": {
											"type": "string"
										},
										"6022": {
											"type": "string"
										},
										"6023": {
											"type": "string"
										},
										"6024": {
											"type": "string"
										},
										"6026": {
											"type": "string"
										},
										"6027": {
											"type": "string"
										},
										"7001": {
											"type": "string"
										},
										"7002": {
											"type": "string"
										},
										"7003": {
											"type": "string"
										},
										"7004": {
											"type": "string"
										},
										"7005": {
											"type": "string"
										},
										"7006": {
											"type": "string"
										},
										"7007": {
											"type": "string"
										},
										"7008": {
											"type": "string"
										},
										"7009": {
											"type": "string"
										},
										"7011": {
											"type": "string"
										},
										"7012": {
											"type": "string"
										},
										"7013": {
											"type": "string"
										},
										"7014": {
											"type": "string"
										},
										"7015": {
											"type": "string"
										},
										"7016": {
											"type": "string"
										},
										"7017": {
											"type": "string"
										},
										"7018": {
											"type": "string"
										},
										"7019": {
											"type": "string"
										},
										"9007": {
											"type": "string"
										},
										"10000": {
											"type": "string"
										},
										"10001": {
											"type": "string"
										},
										"10002": {
											"type": "string"
										},
										"13001": {
											"type": "string"
										},
										"13002": {
											"type": "string"
										},
										"13003": {
											"type": "string"
										},
										"13004": {
											"type": "string"
										},
										"13005": {
											"type": "string"
										},
										"13006": {
											"type": "string"
										},
										"13007": {
											"type": "string"
										},
										"13008": {
											"type": "string"
										},
										"13009": {
											"type": "string"
										},
										"13010": {
											"type": "string"
										},
										"13011": {
											"type": "string"
										},
										"13012": {
											"type": "string"
										},
										"13013": {
											"type": "string"
										},
										"13014": {
											"type": "string"
										},
										"13015": {
											"type": "string"
										},
										"13017": {
											"type": "string"
										},
										"13018": {
											"type": "string"
										},
										"13019": {
											"type": "string"
										},
										"13020": {
											"type": "string"
										},
										"13021": {
											"type": "string"
										},
										"13023": {
											"type": "string"
										},
										"13024": {
											"type": "string"
										},
										"13025": {
											"type": "string"
										},
										"13026": {
											"type": "string"
										},
										"13027": {
											"type": "string"
										},
										"13028": {
											"type": "string"
										},
										"13029": {
											"type": "string"
										},
										"13030": {
											"type": "string"
										}
									}
								},
								"android": {
									"type": "object",
									"properties": {
										"all": {
											"type": "string"
										},
										"app_wallpaper": {
											"type": "string"
										},
										"app_widgets": {
											"type": "string"
										},
										"application": {
											"type": "string"
										},
										"art_and_design": {
											"type": "string"
										},
										"auto_and_vehicles": {
											"type": "string"
										},
										"beauty": {
											"type": "string"
										},
										"books_and_reference": {
											"type": "string"
										},
										"business": {
											"type": "string"
										},
										"comics": {
											"type": "string"
										},
										"communication": {
											"type": "string"
										},
										"dating": {
											"type": "string"
										},
										"education": {
											"type": "string"
										},
										"entertainment": {
											"type": "string"
										},
										"events": {
											"type": "string"
										},
										"family": {
											"type": "string"
										},
										"family_action": {
											"type": "string"
										},
										"family_braingames": {
											"type": "string"
										},
										"family_create": {
											"type": "string"
										},
										"family_education": {
											"type": "string"
										},
										"family_musicvideo": {
											"type": "string"
										},
										"family_pretend": {
											"type": "string"
										},
										"finance": {
											"type": "string"
										},
										"food_and_drink": {
											"type": "string"
										},
										"game": {
											"type": "string"
										},
										"game_action": {
											"type": "string"
										},
										"game_adventure": {
											"type": "string"
										},
										"game_arcade": {
											"type": "string"
										},
										"game_board": {
											"type": "string"
										},
										"game_card": {
											"type": "string"
										},
										"game_casino": {
											"type": "string"
										},
										"game_casual": {
											"type": "string"
										},
										"game_educational": {
											"type": "string"
										},
										"game_family": {
											"type": "string"
										},
										"game_music": {
											"type": "string"
										},
										"game_puzzle": {
											"type": "string"
										},
										"game_racing": {
											"type": "string"
										},
										"game_role_playing": {
											"type": "string"
										},
										"game_simulation": {
											"type": "string"
										},
										"game_sports": {
											"type": "string"
										},
										"game_strategy": {
											"type": "string"
										},
										"game_trivia": {
											"type": "string"
										},
										"game_wallpaper": {
											"type": "string"
										},
										"game_widgets": {
											"type": "string"
										},
										"game_word": {
											"type": "string"
										},
										"health_and_fitness": {
											"type": "string"
										},
										"house_and_home": {
											"type": "string"
										},
										"libraries_and_demo": {
											"type": "string"
										},
										"lifestyle": {
											"type": "string"
										},
										"maps_and_navigation": {
											"type": "string"
										},
										"media_and_video": {
											"type": "string"
										},
										"medical": {
											"type": "string"
										},
										"music_and_audio": {
											"type": "string"
										},
										"news_and_magazines": {
											"type": "string"
										},
										"parenting": {
											"type": "string"
										},
										"personalization": {
											"type": "string"
										},
										"photography": {
											"type": "string"
										},
										"productivity": {
											"type": "string"
										},
										"shopping": {
											"type": "string"
										},
										"social": {
											"type": "string"
										},
										"sports": {
											"type": "string"
										},
										"tools": {
											"type": "string"
										},
										"transportation": {
											"type": "string"
										},
										"travel_and_local": {
											"type": "string"
										},
										"video_players": {
											"type": "string"
										},
										"weather": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}