orka-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "orka-adf"
		},
		"ABS_orka_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ABS_orka'"
		},
		"ADLS_orka_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLS_orka'"
		},
		"ASQL_orka_Entertainment_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ASQL_orka_Entertainment'"
		},
		"ADLS_orka_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://orkadatalake.dfs.core.windows.net"
		},
		"HTTP_Rebrickable_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cdn.rebrickable.com/media/downloads/"
		},
		"HTTP_SensorTower_IDs_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://sensortower.com/api/v1/"
		},
		"SensorTower_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.sensortower.com/v1/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Generate categories Table from JSON')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Create categories_raw table",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Drop categories_waw Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['category_ids']['ios']['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int16"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['0']"
										},
										"sink": {
											"name": "0",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6001']"
										},
										"sink": {
											"name": "6001",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6002']"
										},
										"sink": {
											"name": "6002",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6003']"
										},
										"sink": {
											"name": "6003",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6000']"
										},
										"sink": {
											"name": "6000",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6004']"
										},
										"sink": {
											"name": "6004",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6005']"
										},
										"sink": {
											"name": "6005",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6006']"
										},
										"sink": {
											"name": "6006",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6007']"
										},
										"sink": {
											"name": "6007",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6008']"
										},
										"sink": {
											"name": "6008",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6009']"
										},
										"sink": {
											"name": "6009",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6010']"
										},
										"sink": {
											"name": "6010",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6011']"
										},
										"sink": {
											"name": "6011",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6012']"
										},
										"sink": {
											"name": "6012",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6013']"
										},
										"sink": {
											"name": "6013",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6014']"
										},
										"sink": {
											"name": "6014",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6015']"
										},
										"sink": {
											"name": "6015",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6016']"
										},
										"sink": {
											"name": "6016",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6017']"
										},
										"sink": {
											"name": "6017",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6018']"
										},
										"sink": {
											"name": "6018",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6020']"
										},
										"sink": {
											"name": "6020",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6021']"
										},
										"sink": {
											"name": "6021",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6022']"
										},
										"sink": {
											"name": "6022",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6023']"
										},
										"sink": {
											"name": "6023",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6024']"
										},
										"sink": {
											"name": "6024",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6026']"
										},
										"sink": {
											"name": "6026",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['6027']"
										},
										"sink": {
											"name": "6027",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7001']"
										},
										"sink": {
											"name": "7001",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7002']"
										},
										"sink": {
											"name": "7002",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7003']"
										},
										"sink": {
											"name": "7003",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7004']"
										},
										"sink": {
											"name": "7004",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7005']"
										},
										"sink": {
											"name": "7005",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7006']"
										},
										"sink": {
											"name": "7006",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7007']"
										},
										"sink": {
											"name": "7007",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7008']"
										},
										"sink": {
											"name": "7008",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7009']"
										},
										"sink": {
											"name": "7009",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7011']"
										},
										"sink": {
											"name": "7011",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7012']"
										},
										"sink": {
											"name": "7012",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7013']"
										},
										"sink": {
											"name": "7013",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7014']"
										},
										"sink": {
											"name": "7014",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7015']"
										},
										"sink": {
											"name": "7015",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7016']"
										},
										"sink": {
											"name": "7016",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7017']"
										},
										"sink": {
											"name": "7017",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7018']"
										},
										"sink": {
											"name": "7018",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['7019']"
										},
										"sink": {
											"name": "7019",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['9007']"
										},
										"sink": {
											"name": "9007",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['10000']"
										},
										"sink": {
											"name": "10000",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['10001']"
										},
										"sink": {
											"name": "10001",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['10002']"
										},
										"sink": {
											"name": "10002",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13001']"
										},
										"sink": {
											"name": "13001",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13002']"
										},
										"sink": {
											"name": "13002",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13003']"
										},
										"sink": {
											"name": "13003",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13004']"
										},
										"sink": {
											"name": "13004",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13005']"
										},
										"sink": {
											"name": "13005",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13006']"
										},
										"sink": {
											"name": "13006",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13007']"
										},
										"sink": {
											"name": "13007",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13008']"
										},
										"sink": {
											"name": "13008",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13009']"
										},
										"sink": {
											"name": "13009",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13010']"
										},
										"sink": {
											"name": "13010",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13011']"
										},
										"sink": {
											"name": "13011",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13012']"
										},
										"sink": {
											"name": "13012",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13013']"
										},
										"sink": {
											"name": "13013",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13014']"
										},
										"sink": {
											"name": "13014",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13015']"
										},
										"sink": {
											"name": "13015",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13017']"
										},
										"sink": {
											"name": "13017",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13018']"
										},
										"sink": {
											"name": "13018",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13019']"
										},
										"sink": {
											"name": "13019",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13020']"
										},
										"sink": {
											"name": "13020",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13021']"
										},
										"sink": {
											"name": "13021",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13023']"
										},
										"sink": {
											"name": "13023",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13024']"
										},
										"sink": {
											"name": "13024",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13025']"
										},
										"sink": {
											"name": "13025",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13026']"
										},
										"sink": {
											"name": "13026",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13027']"
										},
										"sink": {
											"name": "13027",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13028']"
										},
										"sink": {
											"name": "13028",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13029']"
										},
										"sink": {
											"name": "13029",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['ios']['13030']"
										},
										"sink": {
											"name": "13030",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['all']"
										},
										"sink": {
											"name": "all",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['app_wallpaper']"
										},
										"sink": {
											"name": "app_wallpaper",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['app_widgets']"
										},
										"sink": {
											"name": "app_widgets",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['application']"
										},
										"sink": {
											"name": "application",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['art_and_design']"
										},
										"sink": {
											"name": "art_and_design",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['auto_and_vehicles']"
										},
										"sink": {
											"name": "auto_and_vehicles",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['beauty']"
										},
										"sink": {
											"name": "beauty",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['books_and_reference']"
										},
										"sink": {
											"name": "books_and_reference",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['business']"
										},
										"sink": {
											"name": "business",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['comics']"
										},
										"sink": {
											"name": "comics",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['communication']"
										},
										"sink": {
											"name": "communication",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['dating']"
										},
										"sink": {
											"name": "dating",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['education']"
										},
										"sink": {
											"name": "education",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['entertainment']"
										},
										"sink": {
											"name": "entertainment",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['events']"
										},
										"sink": {
											"name": "events",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family']"
										},
										"sink": {
											"name": "family",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_action']"
										},
										"sink": {
											"name": "family_action",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_braingames']"
										},
										"sink": {
											"name": "family_braingames",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_create']"
										},
										"sink": {
											"name": "family_create",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_education']"
										},
										"sink": {
											"name": "family_education",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_musicvideo']"
										},
										"sink": {
											"name": "family_musicvideo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['family_pretend']"
										},
										"sink": {
											"name": "family_pretend",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['finance']"
										},
										"sink": {
											"name": "finance",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['food_and_drink']"
										},
										"sink": {
											"name": "food_and_drink",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game']"
										},
										"sink": {
											"name": "game",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_action']"
										},
										"sink": {
											"name": "game_action",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_adventure']"
										},
										"sink": {
											"name": "game_adventure",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_arcade']"
										},
										"sink": {
											"name": "game_arcade",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_board']"
										},
										"sink": {
											"name": "game_board",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_card']"
										},
										"sink": {
											"name": "game_card",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_casino']"
										},
										"sink": {
											"name": "game_casino",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_casual']"
										},
										"sink": {
											"name": "game_casual",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_educational']"
										},
										"sink": {
											"name": "game_educational",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_family']"
										},
										"sink": {
											"name": "game_family",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_music']"
										},
										"sink": {
											"name": "game_music",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_puzzle']"
										},
										"sink": {
											"name": "game_puzzle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_racing']"
										},
										"sink": {
											"name": "game_racing",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_role_playing']"
										},
										"sink": {
											"name": "game_role_playing",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_simulation']"
										},
										"sink": {
											"name": "game_simulation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_sports']"
										},
										"sink": {
											"name": "game_sports",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_strategy']"
										},
										"sink": {
											"name": "game_strategy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_trivia']"
										},
										"sink": {
											"name": "game_trivia",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_wallpaper']"
										},
										"sink": {
											"name": "game_wallpaper",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_widgets']"
										},
										"sink": {
											"name": "game_widgets",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['game_word']"
										},
										"sink": {
											"name": "game_word",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['health_and_fitness']"
										},
										"sink": {
											"name": "health_and_fitness",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['house_and_home']"
										},
										"sink": {
											"name": "house_and_home",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['libraries_and_demo']"
										},
										"sink": {
											"name": "libraries_and_demo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['lifestyle']"
										},
										"sink": {
											"name": "lifestyle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['maps_and_navigation']"
										},
										"sink": {
											"name": "maps_and_navigation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['media_and_video']"
										},
										"sink": {
											"name": "media_and_video",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['medical']"
										},
										"sink": {
											"name": "medical",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['music_and_audio']"
										},
										"sink": {
											"name": "music_and_audio",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['news_and_magazines']"
										},
										"sink": {
											"name": "news_and_magazines",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['parenting']"
										},
										"sink": {
											"name": "parenting",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['personalization']"
										},
										"sink": {
											"name": "personalization",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['photography']"
										},
										"sink": {
											"name": "photography",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['productivity']"
										},
										"sink": {
											"name": "productivity",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['shopping']"
										},
										"sink": {
											"name": "shopping",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['social']"
										},
										"sink": {
											"name": "social",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['sports']"
										},
										"sink": {
											"name": "sports",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['tools']"
										},
										"sink": {
											"name": "tools",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['transportation']"
										},
										"sink": {
											"name": "transportation",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['travel_and_local']"
										},
										"sink": {
											"name": "travel_and_local",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['video_players']"
										},
										"sink": {
											"name": "video_players",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['category_ids']['android']['weather']"
										},
										"sink": {
											"name": "weather",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "HTTP_Sensor_Tower_Categories",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ASQL_Sensor_Tower_Categories",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Drop categories_waw Table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_drop_categories_raw]"
						},
						"linkedServiceName": {
							"referenceName": "ASQL_orka_Entertainment",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Create categories from categories_raw Table",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Create categories_raw table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Create categories from categories_raw Table",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"CategoriesRaw": {},
									"Categories": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HTTP_Sensor_Tower_Categories')]",
				"[concat(variables('factoryId'), '/datasets/ASQL_Sensor_Tower_Categories')]",
				"[concat(variables('factoryId'), '/linkedServices/ASQL_orka_Entertainment')]",
				"[concat(variables('factoryId'), '/dataflows/Create categories from categories_raw Table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lego_ADLS_to_ASQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Extract Themes data from Azure Data Lake Storage, add a column, and load the data into Azure SQL Database",
				"activities": [
					{
						"name": "Copy data from ADLS to ASQL",
						"description": "Copy data from Azure Data Lake Storage to Azure SQL Server",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ADLS_Lego",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ASQL_Lego",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"FileName": {
						"type": "String",
						"defaultValue": "FileName"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-07-19T07:23:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Lego')]",
				"[concat(variables('factoryId'), '/datasets/ASQL_Lego')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lego_HTTP_to_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy CSV from HTTP to ADLS",
						"description": "Copy CSV from Rebrickable to Azure Data Lake Storage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "colors.csv.gz"
							},
							{
								"name": "Destination",
								"value": "lego//colors.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": "0"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ADLS_orka",
										"type": "LinkedServiceReference"
									},
									"path": "lego/errors"
								}
							},
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "HTTP_Lego",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_Lego",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"FileName": {
						"type": "String",
						"defaultValue": "FileName"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-07-20T01:25:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HTTP_Lego')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Lego')]",
				"[concat(variables('factoryId'), '/linkedServices/ADLS_orka')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadMainorAllFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach File",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Active Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "activity('Lookup Configuration File').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Lego_HTTP_to_ADLS",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Lego_HTTP_to_ADLS",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"FileName": {
												"value": "@item().SourceFileName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup Configuration File",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ADLS_Lego_ConfigurationFile",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter Active Files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup Configuration File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Configuration File').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().IsActive, '1')",
								"type": "Expression"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Lego_ConfigurationFile')]",
				"[concat(variables('factoryId'), '/pipelines/Lego_HTTP_to_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orchestration_Lego')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lego_HTTP_to_ADLS_Themes",
						"description": "",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Lego_HTTP_to_ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FileName": {
									"value": "@pipeline().parameters.FileName",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Lego_ADLS_to_ASQL_Themes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lego_HTTP_to_ADLS_Themes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Lego_ADLS_to_ASQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FileName": {
									"value": "@pipeline().parameters.FileName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"FileName": {
						"type": "String",
						"defaultValue": "FileName"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-07-20T00:19:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Lego_HTTP_to_ADLS')]",
				"[concat(variables('factoryId'), '/pipelines/Lego_ADLS_to_ASQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Configuration File",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "HTTP_Lego",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "FileName"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Lookup Configuration Table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM etl.ConfigurationTable WHERE IsActive = 1;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ASQL_Lego_ConfigurationTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup Configuration File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Lego_HTTP_to_ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FileName": {
									"value": "@activity('Lookup Configuration File').output.firstRow.SourceFileName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HTTP_Lego')]",
				"[concat(variables('factoryId'), '/datasets/ASQL_Lego_ConfigurationTable')]",
				"[concat(variables('factoryId'), '/pipelines/Lego_HTTP_to_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Lego')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_orka",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "String",
						"defaultValue": "FileName"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{dataset().FileName}.csv",
							"type": "Expression"
						},
						"fileSystem": "lego"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_orka')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Lego_ConfigurationFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_orka",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "LegoConfigurationFile.csv",
						"fileSystem": "lego"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SourceSystem",
						"type": "String"
					},
					{
						"name": "SourceFileName",
						"type": "String"
					},
					{
						"name": "SourceFileExtension",
						"type": "String"
					},
					{
						"name": "IsActive",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_orka')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Sensor_Tower_Categories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_orka",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "category_ids.json",
						"fileSystem": "sensortower"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_orka')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASQL_Lego')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ASQL_orka_Entertainment",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "String",
						"defaultValue": "FileName"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "lego",
					"table": {
						"value": "@dataset().FileName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ASQL_orka_Entertainment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASQL_Lego_ConfigurationTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ASQL_orka_Entertainment",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SourceSystem",
						"type": "varchar"
					},
					{
						"name": "SourceFileName",
						"type": "varchar"
					},
					{
						"name": "SourceFileExtension",
						"type": "varchar"
					},
					{
						"name": "IsActive",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "etl",
					"table": "ConfigurationTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ASQL_orka_Entertainment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASQL_Sensor_Tower_Categories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ASQL_orka_Entertainment",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "categories_raw"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ASQL_orka_Entertainment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASQL_Sensor_Tower_Categories_Unpivot')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ASQL_orka_Entertainment",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "SensorTower",
					"table": "categories_unpivot"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ASQL_orka_Entertainment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTP_Lego')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HTTP_Rebrickable",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "FileName"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@{dataset().FileName}.csv.gz",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"compressionCodec": "gzip",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HTTP_Rebrickable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTP_Sensor_Tower_Categories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HTTP_SensorTower_IDs",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "category_ids.json?auth_token=LyrjK-Gg2cBq8ZcrSwWv"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"category_ids": {
							"type": "object",
							"properties": {
								"ios": {
									"type": "object",
									"properties": {
										"0": {
											"type": "string"
										},
										"6000": {
											"type": "string"
										},
										"6001": {
											"type": "string"
										},
										"6002": {
											"type": "string"
										},
										"6003": {
											"type": "string"
										},
										"6004": {
											"type": "string"
										},
										"6005": {
											"type": "string"
										},
										"6006": {
											"type": "string"
										},
										"6007": {
											"type": "string"
										},
										"6008": {
											"type": "string"
										},
										"6009": {
											"type": "string"
										},
										"6010": {
											"type": "string"
										},
										"6011": {
											"type": "string"
										},
										"6012": {
											"type": "string"
										},
										"6013": {
											"type": "string"
										},
										"6014": {
											"type": "string"
										},
										"6015": {
											"type": "string"
										},
										"6016": {
											"type": "string"
										},
										"6017": {
											"type": "string"
										},
										"6018": {
											"type": "string"
										},
										"6020": {
											"type": "string"
										},
										"6021": {
											"type": "string"
										},
										"6022": {
											"type": "string"
										},
										"6023": {
											"type": "string"
										},
										"6024": {
											"type": "string"
										},
										"6026": {
											"type": "string"
										},
										"6027": {
											"type": "string"
										},
										"7001": {
											"type": "string"
										},
										"7002": {
											"type": "string"
										},
										"7003": {
											"type": "string"
										},
										"7004": {
											"type": "string"
										},
										"7005": {
											"type": "string"
										},
										"7006": {
											"type": "string"
										},
										"7007": {
											"type": "string"
										},
										"7008": {
											"type": "string"
										},
										"7009": {
											"type": "string"
										},
										"7011": {
											"type": "string"
										},
										"7012": {
											"type": "string"
										},
										"7013": {
											"type": "string"
										},
										"7014": {
											"type": "string"
										},
										"7015": {
											"type": "string"
										},
										"7016": {
											"type": "string"
										},
										"7017": {
											"type": "string"
										},
										"7018": {
											"type": "string"
										},
										"7019": {
											"type": "string"
										},
										"9007": {
											"type": "string"
										},
										"10000": {
											"type": "string"
										},
										"10001": {
											"type": "string"
										},
										"10002": {
											"type": "string"
										},
										"13001": {
											"type": "string"
										},
										"13002": {
											"type": "string"
										},
										"13003": {
											"type": "string"
										},
										"13004": {
											"type": "string"
										},
										"13005": {
											"type": "string"
										},
										"13006": {
											"type": "string"
										},
										"13007": {
											"type": "string"
										},
										"13008": {
											"type": "string"
										},
										"13009": {
											"type": "string"
										},
										"13010": {
											"type": "string"
										},
										"13011": {
											"type": "string"
										},
										"13012": {
											"type": "string"
										},
										"13013": {
											"type": "string"
										},
										"13014": {
											"type": "string"
										},
										"13015": {
											"type": "string"
										},
										"13017": {
											"type": "string"
										},
										"13018": {
											"type": "string"
										},
										"13019": {
											"type": "string"
										},
										"13020": {
											"type": "string"
										},
										"13021": {
											"type": "string"
										},
										"13023": {
											"type": "string"
										},
										"13024": {
											"type": "string"
										},
										"13025": {
											"type": "string"
										},
										"13026": {
											"type": "string"
										},
										"13027": {
											"type": "string"
										},
										"13028": {
											"type": "string"
										},
										"13029": {
											"type": "string"
										},
										"13030": {
											"type": "string"
										}
									}
								},
								"android": {
									"type": "object",
									"properties": {
										"all": {
											"type": "string"
										},
										"app_wallpaper": {
											"type": "string"
										},
										"app_widgets": {
											"type": "string"
										},
										"application": {
											"type": "string"
										},
										"art_and_design": {
											"type": "string"
										},
										"auto_and_vehicles": {
											"type": "string"
										},
										"beauty": {
											"type": "string"
										},
										"books_and_reference": {
											"type": "string"
										},
										"business": {
											"type": "string"
										},
										"comics": {
											"type": "string"
										},
										"communication": {
											"type": "string"
										},
										"dating": {
											"type": "string"
										},
										"education": {
											"type": "string"
										},
										"entertainment": {
											"type": "string"
										},
										"events": {
											"type": "string"
										},
										"family": {
											"type": "string"
										},
										"family_action": {
											"type": "string"
										},
										"family_braingames": {
											"type": "string"
										},
										"family_create": {
											"type": "string"
										},
										"family_education": {
											"type": "string"
										},
										"family_musicvideo": {
											"type": "string"
										},
										"family_pretend": {
											"type": "string"
										},
										"finance": {
											"type": "string"
										},
										"food_and_drink": {
											"type": "string"
										},
										"game": {
											"type": "string"
										},
										"game_action": {
											"type": "string"
										},
										"game_adventure": {
											"type": "string"
										},
										"game_arcade": {
											"type": "string"
										},
										"game_board": {
											"type": "string"
										},
										"game_card": {
											"type": "string"
										},
										"game_casino": {
											"type": "string"
										},
										"game_casual": {
											"type": "string"
										},
										"game_educational": {
											"type": "string"
										},
										"game_family": {
											"type": "string"
										},
										"game_music": {
											"type": "string"
										},
										"game_puzzle": {
											"type": "string"
										},
										"game_racing": {
											"type": "string"
										},
										"game_role_playing": {
											"type": "string"
										},
										"game_simulation": {
											"type": "string"
										},
										"game_sports": {
											"type": "string"
										},
										"game_strategy": {
											"type": "string"
										},
										"game_trivia": {
											"type": "string"
										},
										"game_wallpaper": {
											"type": "string"
										},
										"game_widgets": {
											"type": "string"
										},
										"game_word": {
											"type": "string"
										},
										"health_and_fitness": {
											"type": "string"
										},
										"house_and_home": {
											"type": "string"
										},
										"libraries_and_demo": {
											"type": "string"
										},
										"lifestyle": {
											"type": "string"
										},
										"maps_and_navigation": {
											"type": "string"
										},
										"media_and_video": {
											"type": "string"
										},
										"medical": {
											"type": "string"
										},
										"music_and_audio": {
											"type": "string"
										},
										"news_and_magazines": {
											"type": "string"
										},
										"parenting": {
											"type": "string"
										},
										"personalization": {
											"type": "string"
										},
										"photography": {
											"type": "string"
										},
										"productivity": {
											"type": "string"
										},
										"shopping": {
											"type": "string"
										},
										"social": {
											"type": "string"
										},
										"sports": {
											"type": "string"
										},
										"tools": {
											"type": "string"
										},
										"transportation": {
											"type": "string"
										},
										"travel_and_local": {
											"type": "string"
										},
										"video_players": {
											"type": "string"
										},
										"weather": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HTTP_SensorTower_IDs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ABS_orka')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ABS_orka_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_orka')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service to the orkadatalake Azure Data Lake Storage Account",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLS_orka_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLS_orka_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ASQL_orka_Entertainment')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to the Entertainment database on the server orka-asql.database.windows.net",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ASQL_orka_Entertainment_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTP_Rebrickable')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service to the Lego downloads on Rebrickable: https://rebrickable.com/downloads/",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HTTP_Rebrickable_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTP_SensorTower_IDs')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HTTP_SensorTower_IDs_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SensorTower')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('SensorTower_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Create categories from categories_raw Table')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ASQL_Sensor_Tower_Categories",
								"type": "DatasetReference"
							},
							"name": "CategoriesRaw"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ASQL_Sensor_Tower_Categories_Unpivot",
								"type": "DatasetReference"
							},
							"name": "Categories"
						}
					],
					"transformations": [
						{
							"name": "Unpivot"
						}
					],
					"script": "source(output(\n\t\t{0} as string,\n\t\t{6000} as string,\n\t\t{6001} as string,\n\t\t{6002} as string,\n\t\t{6003} as string,\n\t\t{6004} as string,\n\t\t{6005} as string,\n\t\t{6006} as string,\n\t\t{6007} as string,\n\t\t{6008} as string,\n\t\t{6009} as string,\n\t\t{6010} as string,\n\t\t{6011} as string,\n\t\t{6012} as string,\n\t\t{6013} as string,\n\t\t{6014} as string,\n\t\t{6015} as string,\n\t\t{6016} as string,\n\t\t{6017} as string,\n\t\t{6018} as string,\n\t\t{6020} as string,\n\t\t{6021} as string,\n\t\t{6022} as string,\n\t\t{6023} as string,\n\t\t{6024} as string,\n\t\t{6026} as string,\n\t\t{6027} as string,\n\t\t{7001} as string,\n\t\t{7002} as string,\n\t\t{7003} as string,\n\t\t{7004} as string,\n\t\t{7005} as string,\n\t\t{7006} as string,\n\t\t{7007} as string,\n\t\t{7008} as string,\n\t\t{7009} as string,\n\t\t{7011} as string,\n\t\t{7012} as string,\n\t\t{7013} as string,\n\t\t{7014} as string,\n\t\t{7015} as string,\n\t\t{7016} as string,\n\t\t{7017} as string,\n\t\t{7018} as string,\n\t\t{7019} as string,\n\t\t{9007} as string,\n\t\t{10000} as string,\n\t\t{10001} as string,\n\t\t{10002} as string,\n\t\t{13001} as string,\n\t\t{13002} as string,\n\t\t{13003} as string,\n\t\t{13004} as string,\n\t\t{13005} as string,\n\t\t{13006} as string,\n\t\t{13007} as string,\n\t\t{13008} as string,\n\t\t{13009} as string,\n\t\t{13010} as string,\n\t\t{13011} as string,\n\t\t{13012} as string,\n\t\t{13013} as string,\n\t\t{13014} as string,\n\t\t{13015} as string,\n\t\t{13017} as string,\n\t\t{13018} as string,\n\t\t{13019} as string,\n\t\t{13020} as string,\n\t\t{13021} as string,\n\t\t{13023} as string,\n\t\t{13024} as string,\n\t\t{13025} as string,\n\t\t{13026} as string,\n\t\t{13027} as string,\n\t\t{13028} as string,\n\t\t{13029} as string,\n\t\t{13030} as string,\n\t\tall as string,\n\t\tapp_wallpaper as string,\n\t\tapp_widgets as string,\n\t\tapplication as string,\n\t\tart_and_design as string,\n\t\tauto_and_vehicles as string,\n\t\tbeauty as string,\n\t\tbooks_and_reference as string,\n\t\tbusiness as string,\n\t\tcomics as string,\n\t\tcommunication as string,\n\t\tdating as string,\n\t\teducation as string,\n\t\tentertainment as string,\n\t\tevents as string,\n\t\tfamily as string,\n\t\tfamily_action as string,\n\t\tfamily_braingames as string,\n\t\tfamily_create as string,\n\t\tfamily_education as string,\n\t\tfamily_musicvideo as string,\n\t\tfamily_pretend as string,\n\t\tfinance as string,\n\t\tfood_and_drink as string,\n\t\tgame as string,\n\t\tgame_action as string,\n\t\tgame_adventure as string,\n\t\tgame_arcade as string,\n\t\tgame_board as string,\n\t\tgame_card as string,\n\t\tgame_casino as string,\n\t\tgame_casual as string,\n\t\tgame_educational as string,\n\t\tgame_family as string,\n\t\tgame_music as string,\n\t\tgame_puzzle as string,\n\t\tgame_racing as string,\n\t\tgame_role_playing as string,\n\t\tgame_simulation as string,\n\t\tgame_sports as string,\n\t\tgame_strategy as string,\n\t\tgame_trivia as string,\n\t\tgame_wallpaper as string,\n\t\tgame_widgets as string,\n\t\tgame_word as string,\n\t\thealth_and_fitness as string,\n\t\thouse_and_home as string,\n\t\tlibraries_and_demo as string,\n\t\tlifestyle as string,\n\t\tmaps_and_navigation as string,\n\t\tmedia_and_video as string,\n\t\tmedical as string,\n\t\tmusic_and_audio as string,\n\t\tnews_and_magazines as string,\n\t\tparenting as string,\n\t\tpersonalization as string,\n\t\tphotography as string,\n\t\tproductivity as string,\n\t\tshopping as string,\n\t\tsocial as string,\n\t\tsports as string,\n\t\ttools as string,\n\t\ttransportation as string,\n\t\ttravel_and_local as string,\n\t\tvideo_players as string,\n\t\tweather as string,\n\t\tid as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'NONE',\n\tformat: 'table') ~> CategoriesRaw\nCategoriesRaw unpivot(output(\n\t\tCategory_ID as string,\n\t\tCategory_Name as string\n\t),\n\tungroupBy(id),\n\tlateral: false,\n\tignoreNullPivots: false) ~> Unpivot\nUnpivot sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> Categories"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ASQL_Sensor_Tower_Categories')]",
				"[concat(variables('factoryId'), '/datasets/ASQL_Sensor_Tower_Categories_Unpivot')]"
			]
		}
	]
}